@*&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>*@

Copyright &copy; 2017 <b>iBEST</b> All rights
            reserved.