<div class="sidebar-content ">
    <!-- User menu -->
    <div class="sidebar-user">
        <div class="category-content">
            <div class="media">
                <a href="#" class="media-left"><img src="~/Assets/images/default.jpg" class="img-circle img-sm" alt=""></a>
                <div class="media-body">
                    <span class="media-heading text-semibold">Administrator</span>
                    <div class="text-size-mini text-muted">
                        Administrator
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /user menu -->
    
    @if (ViewBag.CurrentUser == "")
    {
        
    }
    <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
        <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">
                <!-- Main -->
                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main"></i></li>
                <li class=""><a href="#"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                <li class=""><a href="~/administrator/appraisal"><i class="icon-balance"></i> <span>Appraisal</span></a></li>             
                <li>
                    <a href="#"><i class="icon-price-tags"></i> <span>Pawning and Lay-away</span></a>
                    <ul>
                        <li class=""><a href="#">Pawn</a></li>
                        <li class=""><a href="#">Lay-away</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-price-tag"></i> <span>Sales and Cash Collection</span></a>
                    <ul>
                        <li class=""><a href="#">Sales</a></li>
                        <li class=""><a href="#">Collection</a></li>
                    </ul>
                </li>
                <!-- /main -->
                <!-- System Reference -->
                <li class="navigation-header"><span>System Reference</span> <i class="icon-menu" title="System Maintenance"></i></li>
                <li class=""><a href="~/administrator/customer"><i class="icon-user-plus"></i> <span>Customer Profile</span></a></li>
                <li class=""><a href="~/administrator/reference"><i class="icon-stack3"></i> <span>Reference</span></a></li>
                <!-- /system Reference -->
                <!-- System Maintenance -->
                <li class="navigation-header"><span>System Maintenance</span> <i class="icon-menu" title="System Maintenance"></i></li>
                <li class=""><a href="#"><i class="icon-user-plus"></i> <span>User Account</span></a></li>
                <!-- /system maintenance -->
            </ul>
        </div>
    </div>
    <!-- /main navigation -->
</div>