@{
    ViewBag.Tag = "PAWNSHOP TRANSACTIONS";
    ViewBag.Title = "Pawnshop Transaction List";
}

<div data-bind="visible: isListShowed">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Pawnshop transaction list</h6>
            <div class="heading-elements">
                <button type="submit" class="btn bg-orange-400 btn-labeled btn-labeled-right ml-10" id="select_transaction"><b><i class="icon-plus3"></i></b>New transaction</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table text-nowrap" id="transactionTable">
                <thead class="bg-blue">
                    <tr>
                        <th>Transaction no.</th>
                        <th>Date</th>
                        <th>Transaction Type</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div data-bind="visible: isCreateModeShowedPawning" class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Pawning</h5>
    </div>
    <div class="panel-body">
        <div class="form">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Transaction no.</label>
                        <input type="text" id="TransactionNo" data-bind="textinput: model.TransactionNo, value: model.TransactionNo" class="form-control" >
                    </div>
                    <div class="col-md-3">
                        <label>Date</label>
                        <input type="text" id="TransactionDate" data-bind="textinput: model.TransactionDate, value: model.TransactionDate" class="form-control daterange-single">
                    </div>
                </div>
            </div>
            
            <h6>Customer information</h6>

            <div class="form-group">
                <div class="row">             
                    @*<label class="control-label col-lg-1">Customer name<span class="text-danger"> *</span></label>*@
                    <div class="col-md-4">
                        <select id="CustomerId" data-bind="options: customer, optionsValue: 'autonum', optionsText: 'first_name', optionsCaption: '',value: model.CustomerId, event:{ change: getCustomerById}" data-placeholder="Select customer" class="select required"></select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn bg-warning-400 access-open" id="create_customer">New customer</button>
                    </div>   
                    <div class="col-md-6"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>First name</label>
                        <input type="text" id="" data-bind="textinput: customerModel.first_name" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Last name</label>
                        <input type="text" id="" data-bind="textinput: customerModel.last_name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Address</label>
                        <input type="text" id="" data-bind="textinput: customerModel.st_address" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Contact no.</label>
                        <input type="text" id="" data-bind="textinput: customerModel.mobile_no" class="form-control">
                    </div>
                </div>
            </div>

            <h6>Item information</h6>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Item type<span class="text-danger">*</span></label>
                        <select required id="ItemTypeId" data-bind="options: itemType, optionsValue: 'ItemTypeId', optionsText: 'ItemTypeName', optionsCaption: '--Select item type--', value: isJewelry, optionsSelected: model.ItemTypeId, event:{ change: getItemCategory('')}" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Item category<span class="text-danger">*</span></label>
                        <select required id="ItemCategoryId" data-bind="options: itemCategory, optionsValue: 'ItemCategoryId', optionsText: 'ItemCategoryName', optionsCaption: '--Select item category--', value: model.ItemCategoryId" class="form-control"></select>
                    </div>
                </div>
            </div>

            <!--ko if: isJewelry.ItemTypeName === "Jewelry"-->
            <div>TEST</div>
            <!--/ko-->

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Item name</label>
                        <input type="text" id="ItemName" data-bind="textinput: model.ItemName" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Remarks</label>
                        <textarea id="" data-bind="textinput: model.Remarks" class="form-control" row="5" col="5"></textarea>
                    </div>
                </div>
            </div>


            <div class="text-right">
                <button data-bind="click: backToList" type="submit" class="btn btn-link"><i class="icon-arrow-left13 position-left"></i> Back to list</button>
                <button type="submit" data-bind="click: saveTransactionPawn, visible: isSaveButtonShowed" class="btn bg-success btn-labeled btn-labeled-right ml-10" id="reset"><b><i class="icon-plus3"></i></b><!--ko text: saveButtonCaption--><!--/ko--></button>
            </div>
        </div>
    </div>  
</div>

<div data-bind="visible: isCreateModeShowedSales" class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Sales</h5>
    </div>
    <div class="panel-body">
        <div class="form">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Transaction no.</label>
                        <input type="text" id="" data-bind="textinput: model.TransactionNo, value: model.TransactionNo" class="form-control" >
                    </div>
                    <div class="col-md-3">
                        <label>Date</label>
                        <input type="text" id="" data-bind="textinput: model.TransactionDate, value: model.TransactionDate" class="form-control daterange-single">
                    </div>
                </div>
            </div>
            
            <h6>Customer information</h6>

            <div class="form-group">
                <div class="row">             
                    <label class="control-label col-lg-1">Customer name<span class="text-danger"> *</span></label>
                    <div class="col-md-4">
                        <select id="" data-bind="options: customer, optionsValue: 'autonum', optionsText: 'first_name', optionsCaption: ''" data-placeholder="Select customer" class="select required"></select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn bg-warning-400 access-open" id="create_customer">New customer</button>
                    </div>   
                    <div class="col-md-6"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>First name</label>
                        <input type="text" id="" data-bind="textinput: model.FirstName" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Last name</label>
                        <input type="text" id="" data-bind="textinput: model.LastName" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Address</label>
                        <input type="text" id="" data-bind="textinput: model.Address" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Contact no.</label>
                        <input type="text" id="" data-bind="textinput: model.ContactNo" class="form-control">
                    </div>
                </div>
            </div>

            <h6>Item information</h6>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Item type<span class="text-danger">*</span></label>
                        <select required id="" data-bind="options: itemType, optionsValue: 'ItemTypeId', optionsText: 'ItemTypeName', optionsCaption: '--Select item type--', value: model.ItemTypeId, value: model.ItemTypeId, optionsSelected: model.ItemTypeId, event:{ change: getItemCategory('')}" class="form-control"></select>
                    </div>
                    <div class="col-md-6">
                        <label>Item category<span class="text-danger">*</span></label>
                        <select required id="" data-bind="options: itemCategory, optionsValue: 'ItemCategoryId', optionsText: 'ItemCategoryName', optionsCaption: '--Select item category--', value: model.ItemCategoryId" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Item name</label>
                        <input type="text" id="" data-bind="textinput: model.ItemName" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Remarks</label>
                        <textarea id="" data-bind="textinput: model.Remarks" class="form-control" row="5" col="5"></textarea>
                    </div>
                </div>
            </div>


            <div class="text-right">
                <button data-bind="click: backToList" type="submit" class="btn btn-link"><i class="icon-arrow-left13 position-left"></i> Back to list</button>
                <button type="submit" data-bind="click: saveTransactionPawn, visible: isSaveButtonShowed" class="btn bg-success btn-labeled btn-labeled-right ml-10" id="reset"><b><i class="icon-plus3"></i></b><!--ko text: saveButtonCaption--><!--/ko--></button>
            </div>
        </div>
    </div>  
</div>

<div data-bind="visible: isCreateModeShowedLayaway" class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Lay-away</h5>
    </div>
    <div class="panel-body">
        <div class="form">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Transaction no.</label>
                        <input type="text" id="" data-bind="textinput: model.TransactionNo, value: model.TransactionNo" class="form-control" >
                    </div>
                    <div class="col-md-3">
                        <label>Date</label>
                        <input type="text" id="" data-bind="textinput: model.TransactionDate, value: model.TransactionDate" class="form-control daterange-single">
                    </div>
                </div>
            </div>
            
            <h6>Customer information</h6>

            <div class="form-group">
                <div class="row">             
                    <label class="control-label col-lg-1">Customer name<span class="text-danger"> *</span></label>
                    <div class="col-md-4">
                        <select id="" data-bind="options: customer, optionsValue: 'autonum', optionsText: 'first_name', optionsCaption: ''" data-placeholder="Select customer" class="select required"></select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn bg-warning-400 access-open" id="create_customer">New customer</button>
                    </div>   
                    <div class="col-md-6"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>First name</label>
                        <input type="text" id="" data-bind="textinput: model.FirstName" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Last name</label>
                        <input type="text" id="" data-bind="textinput: model.LastName" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Address</label>
                        <input type="text" id="" data-bind="textinput: model.Address" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Contact no.</label>
                        <input type="text" id="" data-bind="textinput: model.ContactNo" class="form-control">
                    </div>
                </div>
            </div>

            <h6>Item information</h6>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Item type<span class="text-danger">*</span></label>
                        <select required id="" data-bind="options: itemType, optionsValue: 'ItemTypeId', optionsText: 'ItemTypeName', optionsCaption: '--Select item type--', value: model.ItemTypeId, value: model.ItemTypeId, optionsSelected: model.ItemTypeId, event:{ change: getItemCategory('')}" class="form-control"></select>
                    </div>
                    <div class="col-md-6">
                        <label>Item category<span class="text-danger">*</span></label>
                        <select required id="" data-bind="options: itemCategory, optionsValue: 'ItemCategoryId', optionsText: 'ItemCategoryName', optionsCaption: '--Select item category--', value: model.ItemCategoryId" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Item name</label>
                        <input type="text" id="" data-bind="textinput: model.ItemName" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Remarks</label>
                        <textarea id="" data-bind="textinput: model.Remarks" class="form-control" row="5" col="5"></textarea>
                    </div>
                </div>
            </div>


            <div class="text-right">
                <button data-bind="click: backToList" type="submit" class="btn btn-link"><i class="icon-arrow-left13 position-left"></i> Back to list</button>
                <button type="submit" data-bind="click: saveTransactionPawn, visible: isSaveButtonShowed" class="btn bg-success btn-labeled btn-labeled-right ml-10" id="reset"><b><i class="icon-plus3"></i></b><!--ko text: saveButtonCaption--><!--/ko--></button>
            </div>
        </div>
    </div>  
</div>

@section scripts{
    <script type="text/javascript" src="~/Assets/js/core/libraries/jasny_bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/forms/validation/validate.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/extensions/cookie.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/forms/wizards/steps.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/pages/wizard_steps.js"></script>

    <!-- For Modals -->
    <script type="text/javascript" src="~/Assets/js/plugins/notifications/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/pages/components_modals.js"></script>
    <!-- /For Modals -->

    <!-- For Datetime picker-->
    <script type="text/javascript" src="~/Assets/js/plugins/notifications/jgrowl.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/pickers/anytime.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/pickers/pickadate/legacy.js"></script>

    <script type="text/javascript" src="~/Assets/js/pages/picker_date.js"></script>
    <!-- /For Datetime picker-->

    <script src="~/Areas/Administrator/Assets/Model/pawnshoptransactions.model.js"></script>
    <script src="~/Areas/Administrator/Assets/ViewModel/pawnshoptransactions.viewmodel.js"></script>
}
