@{
    ViewBag.Tag = "REFRENCE";
    ViewBag.Title = "Reference";
}

<div class="col-lg-6">
    <div data-bind="" class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Item type List</h6>
            <div class="heading-elements">
                <button data-bind="" type="submit" class="btn bg-orange-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b>Create new item type</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table text-nowrap" id="itemTypeTable">
                <thead>
                <tr>
                    <th>Item Type</th>
                    <th class="text-center"><i class="icon-arrow-down12"></i></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div data-bind="" class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Item category List</h6>
            <div class="heading-elements">
                <button data-bind="" type="submit" class="btn bg-orange-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b>Create new item category</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table text-nowrap" id="itemCategoryTable">
                <thead>
                    <tr>
                        <th>Item Category</th>
                        <th class="text-center"><i class="icon-arrow-down12"></i></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div data-bind="" class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Create item type</h6>
        <div class="heading-elements">
            @*<button data-bind="click: backToList" type="submit" class="btn btn-link"><i class="text-orange-600 icon-arrow-left13 position-left"></i> Back to list</button>*@
        </div>
    </div>
    <div class="panel-body">
        <form>
            
        </form>
    </div>
</div>
<div data-bind="" class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Create item category</h6>
        <div class="heading-elements">
            @*<button data-bind="click: backToList" type="submit" class="btn btn-link"><i class="text-orange-600 icon-arrow-left13 position-left"></i> Back to list</button>*@
        </div>
    </div>
    <div class="panel-body">
        <form>
            
        </form>
    </div>
</div>