@{
    ViewBag.Tag = "NoGenerator";
    ViewBag.Title = "iPOS: NoGenerator";
}

<div data-bind="visible: isShowedListNoGenerator" class="col-lg-6">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">No Generator List</h6>
            <div class="heading-elements">
                <button data-bind="click: addNoGenerator" type="submit" class="btn bg-orange-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b>Create new reference number</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table text-nowrap" id="noGeneratorTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>No Description</th>
                        <th>No</th>
                        <th>Id</th>
                        <th>Id</th>
                        <th>Id</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Administrator/Assets/Model/reference.model.js"></script>
    <script src="~/Areas/Administrator/Assets/ViewModel/reference.viewmodel.js"></script>
}